aiofiles
aiohttp>=2.2.5
alphabet_detector
apscheduler
asyncio
beautifulsoup4
bing_image_downloader
bleach
bs4
cachetools
cloudscraper
countryinfo
CurrencyConverter
dateparser
dnspython
emoji==2.1.0
emoji-country-flag
feedparser
fontTools
faker
ffmpeg
future
geopy
gpytranslate
gtts
hachoir
heroku3
html2text
jikanpy
lxml
markdown2
motor
nltk
nekos.py
opencv-python-headless
Pillow
pretty_errors
psutil
psycopg2-binary==2.9.10
PyDictionary
pyrogram==2.0.51
python-telegram-bot==20.0
telethon==1.25.0
pytz==2025.2
pymongo==4.12.0
python-arq==6.0.7
pyrate-limiter==2.8.5
pykeyboard==0.1.5
pynewtonmath==1.0.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9.1
search_engine_parser==0.6.8
secureme==0.0.4
sgmllib3k==1.0.0
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.7
speedtest-cli==2.1.3
spongemock==1.0.0
sqlalchemy==1.4.41
telegram==0.0.1
telegraph==2.2.0
TgCrypto
tornado==6.1
tqdm==4.67.1
typing-extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
urllib3==2.4.0
webencodings==0.5.1
wget==3.2
wikipedia==1.4.0
yarl==1.20.0
youtube_search==2.1.2
youtube_search_python==1.6.6
yt_dlp==2025.3.31
zalgo-text==0.6